<h2>Add Class</h2>
<form id="regForm" method="post" action="/instructors/classes/new1">
	<div>
		<label>Title: </label>
		<input type="text" name="title">
	</div><br />
	<div>
		<label>Description: </label>
		<input type="text" name="description">
	</div><br />
	<div>
		<label>Instructor: </label>
		<input type="text" name="instructor">
	</div><br />
	<div>
		<input type="submit" value="Add Course">
	</div>
</form>